body {
  padding-top: 60px;
}
.nav{
    margin-right:20px;
}
.nav li a{
    margin-top: 10px;
    color:#fff !important;
    padding:3px 7px;
}
.container{
    min-height: 420px;  
}
.product-list .item{
    list-style-type: none;
    border:1px solid #ddd;
    width: 250px;
    padding:5px;
    border-radius: 4px;
    margin: 10px;
}
.product-list .item img{
    width:100%;
}
footer{
	background-color: #ccc;
	padding:20px;
	color: #000;
	margin-top:30px;
}

