<div class="jumbotron">
    <h2 class="text-center">Shopping Cart</h2>
</div>
<div class="row">
    <div class="col-md-12">
        <ul class="product-list">
            <li class="item pull-left" ng-repeat="product in products">
                <img src="{{product.image}}" alt="..." class="img-rounded">
                <div class="caption">
                    <h4>{{product.name}}</h4>
                    <p class="text-muted">${{ product.price }}</p>
                    <p>
                        <a href="#product/{{product.id}}" class="btn btn-primary">View </a>&nbsp;&nbsp;&nbsp;
                        <a ng-click="addToCart(product)" class="btn btn-success">Add to cart</a>
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
